# Variables de entorno
.env

# Datos descargados
data/
youtube_trending_global.csv

# Archivos generados
*.html
*.csv

# Python
__pycache__/
*.pyc
*.pyo
.Python

# Entorno virtual
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Kaggle
.kaggle/